.aboutFirstSection {
  min-height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  background: rgb(55, 252, 1);
  color: whitesmoke;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 60%;
  height: auto;
  flex-grow: 1;
}

.aboutFirstSection h1 {
  font-size: 3rem;
}

.aboutFirstSection p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.aboutImg {
  width: auto;
  border-radius: 2rem;
  max-width: 100%;
  height: auto;
  margin: 2rem;
}

.aboutSecondSection {
  margin-top: 0.5rem;
  min-height: 50%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background: rgb(244, 245, 243);
}
.aboutSecondSection--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.aboutSecondSection--text h1 {
  font-size: 3rem;
}

.aboutSecondSection--text p {
  font-size: 1.5rem;
}

.plans {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: auto;
  flex-basis: 600px;
}

.plans-cont {
  flex-grow: 1;
  flex-basis: 200px;
  height: 140px;
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 2rem;
  background-color: white;
  color: whitesmoke;
  background: rgb(25, 255, 4);
  text-align: center;
}

.plans-cont h1 {
  font-size: 1.2rem;
}
.plans-cont p {
  margin-top: 0.9rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1300px) {
  .textContainer,
  .aboutSecondSection {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@media only screen and (max-width: 768px) {
  .aboutFirstSection {
    margin-top: 3.9rem;
  }
  .textContainer {
    max-width: 100%;
    justify-content: center;
    height: 50%;
    padding: 3rem;
  }

  .aboutFirstSection p {
    margin-top: 2rem;
  }

  .aboutSecondSection {
    padding: 1rem;
  }

  .aboutSecondSection--text {
    text-align: center;
    padding: 2rem;
  }
}
