* {
  font-size: 10px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Varela Round", sans-serif;
}

html {
  background: rgb(127, 255, 131);
  background: linear-gradient(
    86deg,
    rgba(127, 255, 131, 1) 0%,
    rgba(86, 237, 68, 1) 49%,
    rgba(56, 250, 5, 1) 100%,
    rgba(140, 0, 255, 0.7150210425967262) 100%
  );
}
