.footer {
  border-top: 1px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  z-index: 10;
}

.footer p {
  font-size: 1.5rem;
  color: whitesmoke;
}

.footer--list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 300px;
  font-size: 2rem;
  list-style: none;
}

.footer--list li a i {
  font-size: 1.5rem;
  color: whitesmoke;
}

.footer--list li a:link {
  color: black;
}
.footer--list li a:visited {
  color: gray;
}

.footer--list li a i:hover {
  color: rgb(21, 189, 57);
  transition: 1s;
  border-radius: 2rem;
}

.footer--list li a i:active {
  color: greenyellow;
  transition: 0.2s;
}

@media only screen and (max-width: 768px) {
  .footer p {
    display: none;
  }
}
