.footer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  background: rgb(230, 237, 221);
  background: linear-gradient(
    38deg,
    rgba(230, 237, 221, 1) 0%,
    rgba(220, 214, 214, 1) 54%,
    rgba(189, 206, 195, 1) 100%,
    rgba(0, 255, 85, 1) 100%,
    rgba(14, 145, 255, 1) 100%,
    rgba(0, 255, 25, 1) 100%,
    rgba(18, 159, 255, 1) 100%,
    rgba(50, 116, 255, 1) 100%,
    rgba(222, 222, 222, 1) 100%
  );
}

.footer p {
  font-size: 1.5rem;
}

.footer--list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 300px;
  font-size: 2rem;
  list-style: none;
}

.footer--list li a i {
  font-size: 1.5rem;
  color: black;
}

.footer--list li a:link {
  color: black;
}
.footer--list li a:visited {
  color: gray;
}

.footer--list li a i:hover {
  color: rgb(21, 189, 57);
  transition: 1s;
  border-radius: 2rem;
}

.footer--list li a i:active {
  color: greenyellow;
  transition: 0.2s;
}

@media only screen and (max-width: 768px) {
  .footer p {
    display: none;
  }
}
