html,
body {
  height: 100%;
}

.homeFirstSection {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 50%;
  width: 100%;
  background: whitesmoke;
  color: rgb(77, 74, 74);
}

.homeFirstSection h1 {
  padding: 0.5rem;
  clip-path: polygon(7% 0, 98% 1%, 93% 100%, 0% 100%);
  background: 2de75c;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  min-width: 40%;
  font-size: 3rem;
  flex-grow: 1;
  color: rgb(97, 96, 96);
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  flex-grow: 1;
}

.imageContainer img {
  height: 150px;
  height: 100%;
  max-width: 100%;
  margin: 0.1rem;
  flex-grow: 1;
}

.homeSecondSection {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  color: whitesmoke;
}

.homeSecondSection--container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%);
  background-color: whitesmoke;
  color: rgb(77, 74, 74);
}

.homeSecondSection--container h1 {
  font-size: 3rem;
  color: rgb(97, 96, 96);
}

.homeSecondSection--container p {
  font-size: 1.5rem;
  color: rgb(97, 96, 96);
}

@media only screen and (max-width: 820px) {
  .homeFirstSection {
    margin-top: 50px;
  }

  .homeFirstSection h1,
  .homeSecondSection--container h1 {
    font-size: 2rem;
  }

  .homeSecondSection--container p {
    font-size: 1rem;
  }

  .imageContainer {
    flex-basis: 100%;
    margin: 0;
    flex-wrap: wrap;
  }
  .imageContainer img {
    margin: 0.5 0;
  }

  .homeSecondSection--container {
    flex-basis: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    text-align: center;
  }

  .homeSecondSection--img {
    flex-grow: 1;
    height: 50%;
  }
}
