.form--container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form--container h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.form--inner--container {
  height: 70%;
  width: 70%;
  padding: 10rem 5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 0.2rem solid whitesmoke;
}

.input-text,
input {
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 2rem;
  border: none;
}

.buttomSubmit {
  width: 10rem;
  border-radius: 2rem;
  background-color: white;
  height: 3rem;
  font-size: 2rem;
  border: none;
}

@media only screen and (max-width: 480px) {
  .form--inner--container {
    padding: 10%;
    width: 90%;
    height: 60%;
  }
  .input-text,
  input {
    font-size: 1.5rem;
  }
}
